<div data-id="{{animal.id}}" data-type="{{animal.tipo}}" data-name="{{animal.nombre}}" data-zone="{{animal.zona}}" class="post-preview">

    <a {% if not animal.reservado %}href="{{ animal.get_adoption_url }}"{% else %}style="cursor: pointer;" onclick="showReservadoModal('{{animal.id}}', '{{animal.tipo}}')"{% endif %}>

      <h3 class="post-subtitle" >
        <b>{{animal.nombre}}</b>
      </h3>
    </a>

    {% if animal.reservado %}
    <div class="alert alert-info" role="alert">
      ¡Reservado! <i class="fa fa-cat"></i>
    </div>
    {% endif %}

    {% if animal.animalimage_set.count > 0 %}
    <div id="animalCarrousel-{{animal.id}}" class="animalCarrousel carousel slide" data-ride="carousel">
      <div class="carousel-inner">

        {% for img in animal.animalimage_set.all %}
            <div class="carousel-item text-center {% if forloop.first %} active {% endif %}">
              <div class="carousel-image">
                <img loading="lazy" data-enlargable="1" class="post-image" src="{{ img.image.url }}" style="cursor: zoom-in">
              </div>
            </div>
        {% endfor %}

      </div>

      {% if animal.animalimage_set.count > 1 %}
      <a class="carousel-control-prev" href="#animalCarrousel-{{animal.id}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#animalCarrousel-{{animal.id}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      {% endif %}

    </div>
    {% endif %}

    <div class="post-data">
      <div><b>Sexo:</b> {{animal.get_sexo_display|default_if_none:'Desconocido'}}</div>
      <div><b>Edad:</b> {{animal.edad|default_if_none:'Desconocido'}}</div>

      {% if animal.zona %}
      <div><b>Zona:</b> {{animal.zona}}</div>
      {% else %}
      <div class="mobile-hide">&nbsp;<b></b></div>
      {% endif %}

      {% if animal.cargado_por.get_instagram %}
      <div class="instagram-card"><b>Rescatado por:</b> <a title="Podes contactarte con ellos por cualquier consulta!" target="_blank" href='{{animal.cargado_por.get_instagram_link}}'>{{animal.cargado_por.get_instagram}}</a></div>
      {% else %}
      <div class="mobile-hide">&nbsp;<b></b></div>
      {% endif %}

      <div>
        <span class="animal-desciption show-more-text">{% if animal.datos %}{{animal.get_datos|safe}}{% else %}No hay descripción disponible{% endif %}</span>
        <div>
          <a class="show-more-a" href="javascript:" onclick="showMore(this)">Mostrar más...</a>
        </div>
      </div>
    </div>

    <div class="text-center" style="margin-bottom: 25px;">
      <a class="btn btn-primary btn-preadopcion" {% if not animal.reservado %}href="{% if not is_user %}{{ animal.get_adoption_url }}{% else %}{{ animal.get_adoption_url }}&user_id={{user.id}}{% endif %}"{% else %}style="cursor: pointer; color: #fff" onclick="showReservadoModal('{{animal.id}}', '{{animal.tipo}}')"{% endif %}>
        Formulario de pre-adopción <i class="fa fa-paw"></i>
      </a>
    </div>
</div>

