<div data-id="{{animal.id}}" data-type="{{animal.tipo}}" data-name="{{animal.nombre}}" data-zone="{{animal.zona}}" class="post-preview">

    {% if animal.reservado %}
    <div class="reservado-badge">
      <i class="fa fa-paw"></i> ¡Reservado!
    </div>
    {% endif %}

    {% if animal.animalimage_set.count > 0 %}
    <div id="animalCarrousel-{{animal.id}}" class="animalCarrousel carousel slide" data-ride="carousel">
      <div class="carousel-inner">

        {% for img in animal.animalimage_set.all %}
            <div class="carousel-item text-center {% if forloop.first %} active {% endif %}">
              <div class="carousel-image">
                <img loading="lazy" data-enlargable="1" class="post-image" src="{{ img.image.url }}" style="cursor: zoom-in">
              </div>
            </div>
        {% endfor %}

      </div>

      {% if animal.animalimage_set.count > 1 %}
      <a class="carousel-control-prev" href="#animalCarrousel-{{animal.id}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#animalCarrousel-{{animal.id}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      {% endif %}

    </div>
    {% endif %}

    <a class="animal-title" {% if not animal.reservado %}href="{{ animal.get_adoption_url }}"{% else %}style="cursor: pointer;" onclick="showReservadoModal('{{animal.id}}', '{{animal.tipo}}')"{% endif %}>
      <h3 class="post-subtitle">
        <b>{{animal.nombre}}</b>
      </h3>
    </a>

    <div class="post-data">
      <div class="info-grid">
        <div class="info-item">
          <span class="info-label"><i class="fa fa-venus-mars"></i> Sexo:</span>
          <span class="info-value">{{animal.get_sexo_display|default_if_none:'Desconocido'}}</span>
        </div>
        <div class="info-item">
          <span class="info-label"><i class="fa fa-birthday-cake"></i> Edad:</span>
          <span class="info-value">{{animal.edad|default_if_none:'Desconocido'}}</span>
        </div>

        {% if animal.zona %}
        <div class="info-item">
          <span class="info-label"><i class="fa fa-map-marker-alt"></i> Zona:</span>
          <span class="info-value">{{animal.zona}}</span>
        </div>
        {% endif %}

        {% if animal.cargado_por.get_instagram %}
        <div class="info-item instagram-card">
          <span class="info-label"><i class="fab fa-instagram"></i> Rescatado por:</span>
          <span class="info-value">
            <a title="Podes contactarte con ellos por cualquier consulta!" target="_blank" href='{{animal.cargado_por.get_instagram_link}}'>{{animal.cargado_por.get_instagram}}</a>
          </span>
        </div>
        {% endif %}
      </div>

      <div class="animal-description-container">
        <span class="animal-desciption show-more-text">{% if animal.datos %}{{animal.get_datos|safe}}{% else %}No hay descripción disponible{% endif %}</span>
        <div>
          <a class="show-more-a" href="javascript:" onclick="showMore(this)">Mostrar más...</a>
        </div>
      </div>
    </div>

    <div class="card-action text-center">
      <a class="btn btn-primary btn-preadopcion" {% if not animal.reservado %}href="{% if not is_user %}{{ animal.get_adoption_url }}{% else %}{{ animal.get_adoption_url }}&user_id={{user.id}}{% endif %}"{% else %}style="cursor: pointer;" onclick="showReservadoModal('{{animal.id}}', '{{animal.tipo}}')"{% endif %}>
        Formulario de pre-adopción <i class="fa fa-paw"></i>
      </a>
    </div>
</div>

