{% for image in animal.get_images %}

    <div class="form-group">
        <label>Foto Layout</label>
        <select name="layout_{{image.id}}" class="form-control">
            <option value="si" {% if image.image_layout %}selected="selected"{% endif %}>Si</option>
            <option value="no" {% if not image.image_layout %}selected="selected"{% endif %}>No</option>
        </select>
    </div>

    <div class="form-group">
        <label>Foto Centrada</label>
        <select name="centrado_{{image.id}}" class="form-control">
            <option value="si" {% if image.image_centered %}selected="selected"{% endif %}>Si</option>
            <option value="no" {% if not image.image_centered %}selected="selected"{% endif %}>No</option>
        </select>
    </div>
    <div class="form-group">
        <label>Tamaño de Fuente del Nombre</label>
        <select class="form-control" type="text" name="nombre_font_size_{{image.id}}" required>
            {% for x in fonts %}
            <option {% if image.image_font_size == x %}selected="selected"{% endif %} value="{{x}}">{{x}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label>Posición del texto: nombre</label>
        <select class="form-control" name="posicion_nombre_{{image.id}}">
            <option {% if image.image_posicion_nombre == "Izquierda (abajo)" %}selected="selected"{% endif %}>Izquierda (abajo)</option>
            <option {% if image.image_posicion_nombre == "Izquierda (arriba)" %}selected="selected"{% endif %}>Izquierda (arriba)</option>
        </select>
    </div>

    <div class="form-group">
        <label>Posición del texto: edad y sexo</label>
        <select class="form-control" name="posicion_edad_sexo_{{image.id}}">
            <option {% if image.image_posicion_edad_sexo == "Izquierda (abajo)" %}selected="selected"{% endif %}>Izquierda (abajo)</option>
            <option {% if image.image_posicion_edad_sexo == "Izquierda (arriba)" %}selected="selected"{% endif %}>Izquierda (arriba)</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="radio-{{image.id}}"><img class="img-animal" src="{{image.image.url}}"></label>
    </div>
    <div class="col-md-6">
        <label for="radio-{{image.id}}"><img class="img-animal" src="{{image.image_for_instagram.url}}"></label>
    </div>

{% endfor %}