<b>{{animal.nombre}}</b><hr>

{% for img in animal.get_images %}
    <img src="{{settings.SSL_HOST}}{{ img.image.url }}" style="max-width: 500px">
    <br><br>
{% endfor %}
<br>
<br>
<b>Cargado por:</b> {{animal.cargado_por.email}} (<a href='{{animal.cargado_por.get_instagram_link}}'>{{animal.cargado_por.get_instagram}}</a>)<br>
<b>Sexo:</b> {{animal.get_sexo_display|default_if_none:'Desconocido'}}<br>
<b>Edad:</b> {{animal.edad|default_if_none:'Desconocido'}}<br>
<b>Descripcion:</b> {{animal.datos|safe}}

<hr>
<a href="{{settings.SSL_HOST}}/animal/aprobar/?id={{animal.id}}">Aprobar!</a>
<hr>