¡Los adopotantes ya pueden ver a <b>{{animal.nombre}}</b> en <a href="{{settings.SSL_HOST}}">{{settings.SSL_HOST}}</a>!
<br><br>
Cuando completen un formulario de pre-adopción te enviaremos un mail a esta misma dirección.
<br><br>
También podés compartir el link para que completen el formulario de pre-adopción para <b>{{animal.nombre}}</b>: <a href="{{settings.SSL_HOST}}{{animal.get_adoption_url}}">{{settings.SSL_HOST}}{{animal.get_adoption_url}}</a>.<br>
Y el link a todos los animales que cargaste en nuestra web: <a href="{{settings.SSL_HOST}}{{animal.cargado_por.get_handle_url}}">{{settings.SSL_HOST}}{{animal.cargado_por.get_handle_url}}</a>.<br>
<br><br>
Atte. Equipo Catpuccino Adopciones.
<br>