{% extends "registration/base.html" %}
{% load crispy_forms_tags %}

{% block login_content %}

<div class="mx-5">
    <div class="col-md-12">

    {% if validlink %}

        <h3 class="text-center text-primary">Por favor ingresá tu nueva contraseña.</h3>

        <form action="" method="post" class="form">

            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">

            {{ form.new_password1|as_crispy_field }}

            {{ form.new_password2|as_crispy_field }}

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Actualizar contraseña" />
            </div>
        </form>
    {% else %}
        <p class="alert alert-danger text-center">El link de reseteo de contraseña es inválido o ya fue usado. Por favor intentá nuevamente.</p>
    {% endif %}
    </div>
</div>

{% endblock %}