{% extends "registration/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block login_content %}

<form id="login-form" class="form" action="" method="post">
{% csrf_token %}

    <h3 class="text-center text-primary">{% trans "Creá tu cuenta para cargar un animal" %}</h3>

    <hr>
    <div class="alert alert-info">Al email que ingreses acá te van a llegar los <b>formularios de pre-adopción</b> que completen los candidatos.</div>
    <hr>

    {{ form.email|as_crispy_field }}
    {{ form.instagram|as_crispy_field }}
    {{ form.password1|as_crispy_field }}
    {{ form.password2|as_crispy_field }}

    <div class="form-group">
        <input type="submit" name="submit" class="btn btn-primary btn-md" value="{% trans 'Crear Cuenta' %}">
    </div>

    <div class="form-group">
    <hr>

    <div id="register-link" class="text-right">
        {% trans "¿Ya tenés cuenta?" %} <a href="{% url 'login' %}" class="text-primary"> {% trans "Ingresá aquí" %}</a>
    </div>
    </div>
</form>

{% endblock %}

{% block js %}
{% endblock %}